.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.container div {
  border: 3px solid black;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chipContainer {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.chipContainer div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: green;
  color: white;
  border-radius: 30px;
  padding: 10px;
}

.closeIcon {
  cursor: pointer;
  color: black;
}
